Source: gram-savitzky-golay
Priority: optional
Maintainer: Arnaud Tanguy <arn.tanguy+ppa@gmail.com>
Standards-Version: 3.9.5
Section: libs
Homepage: http://github.com/arntanguy/gram_savitzky_golay
Vcs-Git: git://github.com/arntanguy/gram_savitzky_golay
Vcs-Browser: http://github.com/arntanguy/gram_savitzky_golay
Build-Depends: debhelper (>= 9),
 pkg-config,
 cmake,
 doxygen,
 libboost-test-dev,
 libeigen3-dev (>= 3.2)

Package: libgram-savitzky-golay-dev
Section: libdevel
Architecture: any
Suggests: libgram-savitzky-golay-doc
Depends: pkg-config,
         libeigen3-dev (>= 3.2),
         libgram-savitzky-golay1 (= ${binary:Version}),
         ${misc:Depends}
Description: Savitzky-Golay filtering based on Gram polynomials

Package: libgram-savitzky-golay-sva-dev
Section: libdevel
Architecture: any
Suggests: libgram-savitzky-golay-doc
Depends: pkg-config,
         libeigen3-dev (>= 3.2),
         libspacevecalg-dev,
         libgram-savitzky-golay-dev (= ${binary:Version}),
         ${misc:Depends}
Description: Extension of savitzky golay filters to SpaceVecAlg types

Package: libgram-savitzky-golay1
Section: libs
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends}
Description: Savitzky-Golay filtering based on Gram polynomials

Package: libgram-savitzky-golay-doc
Section: doc
Architecture: all
Depends: ${misc:Depends}
Multi-Arch: foreign
Suggests: libgram-savitzky-golay-dev
Description: gram-savitzky-golay - API documentation
 gram_savitzky_golay is a C++ implementation of Savitzky-Golay filters based on Gram polynomials
 This package provides the complete API documentation in HTML format.
